/manejo-entrada-salida/problema01/Problema01/nbproject/private/
/manejo-entrada-salida/problema01/Problema01/build/
/manejo-entrada-salida/problema02/Problema02/nbproject/private/
/manejo-entrada-salida/problema02/Problema02/build/
/manejo-entrada-salida/problema03/Problema03/nbproject/private/
/manejo-entrada-salida/problema03/Problema03/build/
/manejo-entrada-salida/problema04/Problema04/nbproject/private/
/manejo-entrada-salida/problema04/Problema04/build/
/manejo-entrada-salida/problema05/Problema05/nbproject/private/
/manejo-entrada-salida/problema05/Problema05/build/
